@import "tailwindcss";

:root {
  --background: #fcfdfd;
  --foreground: #000000;
  --primary: #178afe;
  --secondary: #00c3a3;
  --tertiary: #7b5fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-noto);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.cursor-zoom-in-custom {
  cursor: zoom-in !important;
}
